header{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: lightgray;
    font-size:40px;
    border-radius: 0 0 15px 15px;
    padding-left:1rem;
}
#spring div{
    display: flex;
    flex-wrap:wrap;
}
#spring h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;  
}
#spring div div{
    display:flex;
    flex-direction: column; 
    flex:1; 
    align-items: center;
}

#summer div{
    display: flex;
    flex-wrap:wrap;
}
#summer h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;  
}
#summer div div{
    display:flex;
    flex-direction: column; 
    flex:1; 
    align-items: center;
}

#fall div{
    display: flex;
    flex-wrap:wrap;
}
#fall h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;  
}
#fall div div{
    display:flex;
    flex-direction: column; 
    flex:1; 
    align-items: center;
}

#winter div{
    display: flex;
    flex-wrap:wrap;
}
#winter h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;  
}
#winter div div{
    display:flex;
    flex-direction: column; 
    flex:1; 
    align-items: center;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
b{
    font-size: 12px;
    font-weight: 100;
    font-family: verdana;
    text-align: center;
}

.hide{
  display: none; 
}
.seek{
    visibility: visible;
}




